<%- include("partials/header"); -%>

<form action="/register" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
        <label for="accountno" class="form-label">Account number</label>
        <input type="number" class="form-control" id="accountno" name="accountno">
    </div>
    <div class="mb-3">
        <label for="pass" class="form-label">Password</label>
        <input type="password" class="form-control" id="pass" name="pass">
    </div>
    <div class="mb-3">
        <label for="conpass" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="conpass" name="conpass">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<a href="/login">Login here</a>

<%- include("partials/footer"); -%>
